

/* Navbar */
#top_nav{
  background-color: #daac00;
  padding: 0% 13%;
}

.navbar-dark .navbar-nav .nav-link{
  color: rgb(255,255,255);
  font-size: 20px;
  padding-left: 25px;
}

#searchbox{
  background-color: #fcc302;
  color: white;
  border: 0;
  border-radius: 0;
  position: relative;
  left: 10px;
  box-shadow: 5px 10px 11px 0px #00000021;
}
#searchbox::placeholder{
  color: white;
}

#searchbtn{
  position: relative;
  z-index: 99;
  background-color: #00bec9;
  color: white;
  border: 0;
  border-radius: 0;
}

@media only screen and (max-width:990px){
  #searchform{
    margin-bottom: 20px;
    margin-top: 10px;
    left: -20px;
  }
}

#banner{
  background-color: #efbc02;
  padding-bottom: 20px;
}

#bannertext h1{
  color: white;
  font-size:50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#bannertext p{
  color: white;
}

#banner-btn-1{
  background-color: #00bec9;
  border: 2px solid #00bec9;
  color: white;
}

#banner-btn-2{
  margin-left: 15px;
  border: 2px solid white;
  color: white;
}

@media only screen and (max-width:990px){
  #bannertext h1{
    font-size: 40px;
    padding-bottom: 10px;
  }
}

#servicetext h1{
  font-weight: 600;
}

#servicetext{
  padding-top: 10%;
  padding-bottom: 5%;
}

#service-btn{
  color: white;
  background-color: #fcc302;
  border: 2px solid #fcc302;
}

#serviceimg{
  padding: 5%;
  /* padding-left:%; */
}

#counter{
  background-image: url("../Images/side-view-fluffy-black-dog.avif");
  padding-top: 50px;
  padding-bottom: 70px;
  background-position: center;
  background-size: cover;
}

.counter-icon{
  font-size: 70px;

}

@media only screen and (max-width:500px){
  #counter{
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .counter-icon{
    font-size: 50px;
  }
}

#blog{
  padding-top: 70px;
  padding-bottom: 70px;
}

#blog-h1{
  font-size: 50px;
  font-weight: bolder;
}

#blog-p{
  font-size: 20px;
  margin-bottom: 70px;
}

.article-detail{
  padding: 15px;
  border: 1px solid rgb(185,185,185);
  border-top: 0;
}
.article-date,.article-link{
  color: #00bec9;
}

/* footer */

#footer{
  background-color: #343434;
  padding-top: 80px;
  padding-bottom: 80px;

}

#footer a{
  text-decoration: none;
  color: white;
}

#footer-form{
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer-search-box{
  background-color: #fcc302;
  color: white;
  border: 0;
  padding: 10px;
  width: 100%;
  max-width: 250px;
  position: relative;
  left: 10px;
}

#footer-search-button{
  background-color: #00bec9;
  color: white;
  border: 0;
  border-radius: 0;
  padding: 10px 40px;

}

.social-icon{
  font-size: 25px;
  padding: 5px;
}

@media only screen and (max-width:1150px){
  #footer-search-box{
    max-width: 200px;
  }
}

@media only screen and (max-width:973px){
  #footer-search-box{
    max-width: 100px;
  }
  #footer-search-button{
    padding: 10px 20px;
  }
}

@media only screen and (max-width:500px){
  #footer-search-box{
    max-width: 250px;
  }
}